
*{
    margin: 0px;
    padding: 0px;
}
.book-1{
    margin-top:50px;
    transition: transform 2s;
    
}
.book-1:hover{
    transform: scale(1.2,1.2);
    
}

.stack-1{
    position: absolute;
    display: flex;
    box-shadow:  2px rgba(0,0,0,0.3);
    animation-iteration-count: infinite;
    animation-duration: 2s;
   
}

.stack img:hover{
    transform: rotate(18deg);
}



.single-card-1{
    width:120px;
   

}
.multi-card {
    display: flex;
}


.single-card-1:hover {
    margin-top: 20px;
    position: relative;
    animation: myframes 2s ease-in 0s;
}
@keyframes myframes{
    from{width:200px;}
    
}
.p-img {
    float: right;
    border: 1px dotted black;
    margin: 0px 0px 15px 20px;
}
#showDecard {
    display: flex;
    justify-content: center;
    margin-top: 51px;
    border: 2px solid black;
   
}

